<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title>EventApp</title>
		<meta charset="utf-8" />
	</head>
	<body>
		<h1>Cadastro</h1>
		<form method="post">
			<input type="text" placeholder="Nome" value="" name="name" />
			<input type="text" placeholder="Endereço" value=""  name="address" />
			<input type="date" value="" name="date"  />
			<input type="time" value=""  name="hour" />
			<button type="submit">Salvar</button>
		</form>
	</body>
</html>