<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title>Eventos</title>
		<meta charset="utf-8" />
	</head>
	<body>
		<h1>Lista de eventos</h1>
		<table>
			<thead>
				<tr>
					<th>Nome</th>
					<th>Local</th>
					<th>Data</th>
					<th>Horário</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="event : ${events}">
					<td>
						<a th:href="${(#mvc.url('EC#eventDetail').arg(0, event.id).build())}">
							<span th:text="${event.name}"></span>
						</a>
					</td>
					<td><span th:text="${event.address}"></span></td>
					<td><span th:text="${event.date}"></span></td>
					<td><span th:text="${event.hour}"></span></td>
				</tr>
			</tbody>
		</table>
		<br />
		<a href="/register-event">Cadastrar eventos</a>
	</body>
</html>